<!DOCTYPE html>
<html>

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
            <div class="row" style="justify-content: center;">

            <div class="col-sm-4 col-md-6">
                <h1 class="main-hdr">Multi-Modal AI Chatbot <br><span>(by: Anmol Bhasker)</span></h1>
                <form>
                    <div id="chatbox">
                        <div class="">
                            <p class="botText"><span>Hi! I'm Your bot Zeno.</span></p>
                        </div>
                    </div>
                    <div id="userInput" class="row">
                        <div class="col-md-8" style="display: flex; align-items: center;"> 
                            <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
                            <button type="submit" id="send" class="btn btn-warning">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function() {
        $("form").on("submit", function(event) {
            var rawText = $("#text").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#text").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append($.parseHTML(botHtml));
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>
